@model IEnumerable<Data.Models.Order>

<div class="jumbotron">
    <h1>BrainWare Orders</h1>
    <p class="lead">This is the BrainWare orders page! Welcome</p>
</div>

<div>
    @Html.Partial("~/Views/OrderList/OrderList.cshtml", Model)
</div>
